.upload {
  position: absolute;
  width: 100px;
  left: 150%;
  top: 500px;
}

.form {
  position: absolute;
  left: 200px;
  width: 500px;
}

.email {
  position: absolute;
  left: 60%;
  top: 550px;
}

.bg {
  position: absolute;
  width: 1320px;
  top: -60px;
  left: 0px;
}